<html style="width: 500px;height: 500px">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <div id="app">
            <nav>
                <button class="button" @click="show(0)">Wizyty</button>
                <button class="button" @click="show(2)">Ciasteczka</button>
                <button class="button" @click="show(1)">Kategorie</button>
            </nav>
            <main>
                <div v-show="section === 0">
                    <h1>Liczba wizyt</h1>
                    <canvas id="visits" width="400" height="400"></canvas>
                </div>
                <div v-show="section === 1">
                    <h1>Kategorie</h1>
                    <canvas id="categories" width="400" height="400"></canvas>
                </div>
                <div v-show="section === 2">
                    <h1>Ciasteczka</h1>
                    <h3>Mało ważne</h3>
                    <button class="usun">Usuń wszystko</button>
                    <table class="cookie_tabs">
                        <tr>
                            <th>Nazwa</th>
                            <th>Wartość</th>
                        </tr>
                        <tr v-for="item in items.slice(0, 5)">
                            <td>{{item.name || "-"}}</td>
                            <td>{{item.value || "-"}}</td>
                            <td>
                                <button @click="remove(item)" class="usun">Usuń</button>
                            </td>
                        </tr>
                    </table>
                    <h3>Ważne!</h3>
                    <table class="cookie_tabs">
                        <tr>
                            <th>Nazwa</th>
                            <th>Wartość</th>
                        </tr>
                        <tr v-for="item in items.slice(0, 5)">
                            <td>{{item.name || "-"}}</td>
                            <td>{{item.value || "-"}}</td>
                            <td>
                                <button @click="remove(item)" class="usun">Usuń</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </main>
        </div>
        <script src="libs/Chart.min.js"></script>
        <script src="libs/vue.js"></script>
        <script src="background.js"></script>
    </body>
</html>
