.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    display: inline-block;
    margin: 0 auto;
    text-align: center;

}
.usun{
    cursor: pointer;
    background-color: rgb(236, 0, 0); /* RED */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}


}

.button:hover {
    background-color:rgb(199, 0, 0); /* RED */
    color: white;
}
/*.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */
.button {
    cursor: pointer;
    background-color: rgb(236, 0, 0); /* RED */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
nav{

    text-align: center;
    background-color: rgb(236, 0, 0);
    margin:0 ;
    padding: 0;



}
body {
    margin: 0;
    padding: 0;
}
main{
    padding-bottom: 8px ;
    padding-left: 8px;
    padding-right: 8px;
}

.cookie_tabs {
    width: 100%;
    table-layout:fixed;
}
.cookie_tabs td {
    overflow: hidden;
    text-overflow: ellipsis;
}
